* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
a {
    text-decoration: none;
}
ol, ul {
    list-style: none;
}
/* header */
nav > .container {
    display: flex;
    justify-content: space-between;
    padding: 31px 0;
    align-items: center;
    width: 1665px;
}
nav > .container > ul {
    display: flex;
    gap: 80px;
    align-items: center;
}
nav > .container > ul > li > a {
    font-size: 22px
}
nav > .container > ul > li:nth-child(6) > a:first-child, nav > .container > ul > li:nth-child(6) {
    display: flex;
    gap: 26px;
}
nav > .container > ul > li:nth-child(6) > a:first-child, nav > .container > ul > li:nth-child(6) > a:last-child{
    width: 160px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 24px #00000008;
}