* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
a {
    text-decoration: none;
}
ol, ul {
    list-style: none;
}
/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}
nav > .container {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    align-items: center;
    width: 1665px;
}
nav > .container > ul {
    display: flex;
    gap: 80px;
    align-items: center;
}
nav > .container > ul > li > a {
    font-size: 22px
}
nav > .container > ul > li > a:hover {
    color: gray;
    /* background-color: rgba(0, 0, 0, 0.26); */
}
nav > .container > ul > li:nth-child(6) > a:first-child, nav > .container > ul > li:nth-child(6) {
    display: flex;
    gap: 26px;
}
nav > .container > ul > li:nth-child(6) > a:first-child, nav > .container > ul > li:nth-child(6) > a:last-child{
    width: 160px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 24px #00000008;
}
/* hero section */
#hero {
    margin-top: 96px;
}
/* footer */
footer {
    background-color: #252641;
}
footer > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 74px 0 40px 0;
    gap: 95px;
}
footer > .container > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 388px;
}
footer > .container > div:first-child > img {
    border-right: 1px solid #626381;
    padding-right: 77px;
}
footer > .container > div:first-child > h5 {
    font-size: 22px;
    font-weight: 600;
    color: white;
    padding-left: 41px;
}
footer > .container > div:nth-child(2) > h3 {
    font-size: 26px;
    font-weight: 500;
    color: #B2B3CF;
    text-align: center;
    margin-bottom: 20px;
}
footer > .container > div:nth-child(2) > form > input {
    width: 400px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 400;
    color: #83839A;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #83839A;
    border-radius: 80px;
    margin-right: 20px;
}
footer > .container > div:nth-child(2) > form > button {
    background-color: #49BBBD;
    color: white;
    font-size: 22px;
    font-weight: 500;
    border-radius: 60px;
    padding: 14px 34px;
    border: none;
}
footer > .container > div:last-child > ul{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
footer > .container > div:last-child > ul > li:nth-child(2){
    padding: 0 20px;
    border-left: 1px solid #626381;
    border-right: 1px solid #626381;
}
footer > .container > div:last-child > ul > li > a, footer > .container > div:last-child > p {
    font-size: 22px;
    font-weight: 400;
    color: #B2B3CF;
}
footer > .container > div:last-child > p {
    text-align: center;
}
@media (max-width: 575px) {
    footer > .container > div:first-child {
        width: 100%;
    }
    footer > .container > div:nth-child(2) > h3 {
        font-size: 20px;
    }
    footer > .container > div:nth-child(2) > form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    footer > .container > div:nth-child(2) > form > input {
        width: 100%;
        margin: 0;
    }
    footer > .container > div:last-child > ul > li > a, footer > .container > div:last-child > p {
        font-size: 12px;
    }
    footer > .container {
        padding: 74px 20px 40px 20px;
    }
}