@media (max-width: 575px) {
    .container {
        width: 100%;
        padding: 20px;
    }
    header {
        display: none;
    }
    /* nav > .container {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        align-items: center;
        width: 100%;
    } */
    #hero {
        background-color: #49BBBD;
        clip-path: circle(203.7% at 50% -61%);
    }
    #hero > .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .hero-text {
        width: 100%;
        margin: 0;
    }
    .hero-text > h1 {
        font-size: 36px;
    }
    .hero-text > div {
        flex-direction: column;
    }
    .hero-text > div > button {
        padding: 16px 44px;
    }
    .hero-text > p {
        font-size: 18px;
        padding: 10px 0 34px 0;
    }
    .hero-text > div > div > a {
        font-size: 23px;
    }
    .hero-img > img {
        width: 95%;
    }
    #success > .container {
        padding: 100px 20px;
    }
    #success > .container > p {
        width: 100%;
        text-align: center;
    }
    #success > .container > div {
        flex-direction: column;
        gap: 50px;
    }
    #cloud > .container > h3, #cloud > .container > p {
        text-align: center;
    }
    #cloud > .container > p {
        font-size: 22px;
    }
    #cloud > .container > div > div {
        text-align: center;
        width: 100%;
        padding: 117px 40px 52px 40px;
    }
    #cloud > .container > div {
        flex-direction: column;
        gap: 135px;
    }
    #totc > .container > p {
        width: 100%;
        font-size: 19px;
    }
    #totc > .container > h3 {
        font-size: 38px;
    }
    #totc > .container > div {
        flex-direction: column;
    }
    .instructor, .student {
        width: 100%;
        padding: 74px 46px
    }
    #class > .container {
        flex-direction: column;
    }
    .class-text {
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
    }
    .class-img {
        width: 100%;
    }
    .class-img:before {
        height: 107px;
        width: 107px;
    }
    .class-img > img {
        width: 100%;
    }
    .class-img:after {
        height: 140px;
        width: 140px;
    }
    #feature > .container > p {
        text-align: center;
    }
    #feature > .container > div {
        margin-top: 50px;
        flex-direction: column;
        gap: 20px;
    }
    .feature-text {
        width: 100%;
        order: 1;
        padding: 0 20px;
    }
    .feature-img {
        width: 100%;
        order: 2;
    }
    .feature-img > img {
        width: 100%;
    }
    .feature-text > h2 {
        font-size: 35px;
    }
    .tools-text {
        width: 100%;
        padding: 0 20;
        text-align: center;
    }
    #tools > .container, #quiz > .container, #management > .container, #discussion > .container > .discussion-main {
        flex-direction: column;
        padding-bottom: 60px;
    }
    .tools-text > h3 {
        font-size: 34px;
    }
    .tools-text > p {
        font-size: 18px;
    }
    #tools > .container > img {
        width: 100%;
    }
    #quiz > .container > img {
        order: 2;
    }
    .quiz-text {
        width: 100%;
        padding: 50px 0;
        order: 1;
    }
    .management-text {
        width: 100%;
        padding: 0 0 50px 0;
        
    }
    .tools-text > h3, .quiz-text > h3, .management-text > h3, .discussion-text > h3 {
        font-size: 31px;
    }
    #discussion > .container {
        display: block;
    }
    .discussion-main > img {
        order: 2;
    }
    .discussion-text {
        width: 100%;
        padding: 40px 0;
        order: 1;
    }
    #explore > .container {
        padding: 304px 20px 111.59px 20px;
    }
    #explore > img {
        width: 100%;
        height: 760%;
    }
    .course-top {
        align-items: center;
        margin-bottom:  30px;
    }
    .course-top > h4 > i {
        margin-right: 8.78px;
    }
    .course-top > a {
        font-size: 19px;
    }
    .course-top > a > i {
        margin-left: 16.18px;
    }
    .course-top > h4 {
        font-size: 23px;
    }
    .course-bottom {
        flex-direction: column;
        gap: 20px;
        margin: 0;
    }
    .course-bottom > div {
        width: 100%;
        height: 102.39px;
        padding: 15px 20px;
        transform: none;
    }
    .course-bottom > div > div {
        padding: 12px 28px;
    }
    .course-bottom > div > div > div > p {
        transform: none;
    }
    .course-bottom > img {
        margin: 0;
        width: 100%;
    }
    #testimonial > .container {
        flex-direction: column;
        padding: 90px 20px;
    }
    .testimony-img {
        width: 100%;
        order: 1;
    }
    .testimony-img > img {
        margin: 0;
        width: 100%;
    }
    .testimony-img > div {
        width: 80%;
        padding: 20px 30px;
    }
    .testimony-img > div > p {
        font-size: 17px;
    }
    .testimony-text {
        margin-top: 150px;
        width: 100%;
        order: 2;
    }
    .testimony-text > h3 {
        font-size: 50px;
    }
    .testimony-text > p {
        font-size: 21px;
    }
    .testimony-text > button {
        font-size: 19px;
    }
    .testimony-img > div > div > h6 {
        font-size: 17px;
    }
    .testimony-img > div > div > div {
        width: 50%;
    }
    .testimony-img > div > div > div > p {
        font-size: 15px;
    }
    #news > .container > div {
        flex-direction: column;
    }
    #news > .container > div > div:first-child, #news > .container > div > div:last-child{
        width: 100%;
        gap: 35px;
    }
    #news > .container > div > div:first-child > img {
        width: 100%;
    }
    #news > .container > div > div:last-child {
        margin-top: 40px;
    }
    #news > .container > div > div > div {
        gap: 25px;
    }
    #news > .container > div > div > div > img {
        width: 30%;
    }
    #news > .container > div > div > div  > div > h5 {
        font-size: 15px;
        margin-bottom: 5px;
    }
    #news > .container > div > div > div > div > p {
        font-size: 15px;
    }
}   